p{
    text-align: center;
    text-decoration: aqua;
    text-shadow: black;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 18%;
}